<%- include('partials/header.ejs') %>

<div class="container">
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quibusdam eligendi 
    repudiandae enim? Minus reiciendis ex maiores natus quidem pariatur odit in, 
    numquam temporibus repudiandae asperiores recusandae delectus veniam debitis.
</p>


</div>

<%- include('partials/footer.ejs') %>